<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',
     filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static',
     filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Shop</a>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename="bower_components/jquery/dist/jquery.min.js") }}"></script>
<script src="{{ url_for('static', filename="bower_components/bootstrap/dist/js/bootstrap.min.js") }}"></script>
{% block js %}{% endblock %}
</body>
</html>