{% extends "layout.html" %}

{% block title %}Ordering{% endblock %}
{% block content %}
    <div class="container">
        <p>Today we are selling goods A, B, C, D and E by the following prices:
            “A costs 50 cents,”
            “three A cost $1.30,”
            “B costs 30 cents, two B cost 45 cents,”
            “$1.99 per kg of C,” and
            “D costs $1.20, E costs $0.90, buy two D, get one E free.”
            Our checkout accepts items in any order, so that if we scan a B, an A, and another B, we’ll recognize the
            two B’s and price them at 45 (for a total price so far of 95).</p>
        <hr>
        <h3>You have added to cart next items:</h3>

        {% if session['goods']['cart'] %}
            <ul class=flashes>
                {% for item in session['goods']['cart'] %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            <label>Total price is: {{ session['goods']['total'] | round(2) }}</label>
        {% else %}
            <ul class=flashes>
                <h4>No items in cart. Select item and click "Add to basket" for calculate total price</h4>
            </ul>
        {% endif %}
        <hr>
        <form id="order-form" class="form" method="post">
            {#            <input type="" name="goods" />#}
            <div class="form-group">
                {{ form.goods.label }}:<br>
                {{ form.goods }}
            </div>
            <div id="c_weight_group" class="form-group" style="display: none;">
                {{ form.c_weight.label }} of C:<br>
                {{ form.c_weight(placeholder='grams') }}
            </div>
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.add_to_basket }}
                {{ form.order }}
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('#goods').change(function () {
                if ($("#goods option[value='C']").is(':selected')) {
                    $('#c_weight_group').show();
                } else {
                    $('#c_weight_group').hide();

                }
            });
        });
    </script>
{% endblock %}