{% extends "layout.html" %}

{% block title %}Ordering{% endblock %}
{% block content %}
    <div class="container">
        <div class="alert alert-success" role="alert">Well done, we got your order.</div>
        <div class="panel panel-default">
            <div class="panel-body">
                We receive your order!
                <p>You orderd next items: {{ order.items }}, by price {{ order.total_price | round(2)}}</p>
            </div>
        </div>
    </div>
{% endblock %}